
#span-0 { background-color: #ffbcac; }
header{
    border: 1px solid pink;  
    background-color:pink;  
    padding:10px;  
    border-radius:5px;  
    }
    
    .redbox{ padding:20px; background:red }

    .flexible{ display:flex; height:300px; width:400px; background:lightblue; }
    
    .centered{ justify-content:center;align-items:center }
    .spacebetween{ justify-content:space-between;align-items:baseline }
    .baseline{ align-self:baseline }
    .push-right{ margin-left:auto }
    .stretch{ width:100% }
    .wrap{ flex-wrap:wrap }
    .bottom{ align-self: flex-end }

    /* for jQuery*/
    #panel, #flip {
        padding: 5px;
        text-align: center;
        background-color: #e5eecc;
        border: solid 1px #c3c3c3;
    }
      
      #panel {
        padding: 50px;
        display: none;
    }

